<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Commented Posts</title>
    <link rel="stylesheet" href="/static/css/user.css" />
    <link rel="stylesheet" href="/static/css/user_created_posts.css" />
    <script src="/static/js/user/user_comment_posts.js" type="module"></script>
    <script src="/static/js/user/user_mainpage.js" type="module"></script>
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="/user/feed">Forum</a>
    </nav>
    <nav class="side-menu" id="side-menu">
      <ul>
        <li><a href="/user/feed" id="my-feed-link">My Feed</a></li>
        <li class="category-dropdown-toggle">
          Categories <span class="dropdown-arrow">&#9662;</span>
        </li>
        <li>
          <ul id="category-tabs" class="category-tabs dropdown-content"></ul>
        </li>
        <li class="activity-dropdown-toggle">
          My Activity <span class="dropdown-arrow">&#9662;</span>
          <ul class="activity-dropdown-content">
            <li><a href="/user/my-activity/my-posts" id="my-posts-link">My Posts</a></li>
            <li><a href="/user/my-activity/my-comments" id="commented-posts-link">My Comments</a></li>
            <li><a href="/user/my-activity/my-reactions" id="my-reactions-link">My Reactions</a></li>
          </ul>
        </li>
      </ul>
      <div class="side-glow"></div>
    </nav>
    <main id="forumContainer" class="forum-content"></main>
    <template id="post-template">
      <div class="post">
        <h3 class="post-header"></h3>
        <div class="post-title"></div>
        <p class="post-content"></p>
        <time class="post-time"></time>
        <div class="post-reactions">
          <span class="up-arrow">▲</span> <span class="like-count">0</span>
          <span class="down-arrow">▼</span> <span class="dislike-count">0</span>
        </div>
        <div class="post-comments"></div>
      </div>
    </template>
  </body>
</html> 